<script type="text/javascript" src="~/Scripts/Search/search.js"></script>
@using (Html.BeginForm("SearchResult", "Search"))
{
    <div class="row">
        <div class="col-sm-4">
            <input type="text" name="searchString" id="searchString" class="form-control"/>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary v-top">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
    </div>
    <div class="row">
        <p id="suggestions"></p>
    </div>
}